<<<<<<< HEAD
div {
background-image:url(duck.png);
background-size: 100px;
background-repeat:no-repeat;
background-position-x:right;
}
=======
div {
background-image:url(duck.png);
background-size: 100px;
background-repeat:no-repeat;
background-position-x:right;
}
>>>>>>> 91173763fbf5c9988fc0277cec107653cbdc40d5
